.fake {
    width: 70%;
    margin: 0 auto;
  }
  
  .headetTitle {
    width: 80%;
    margin: 20px auto;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  
  .headerContent {
    width: 100%;
    height: 600px;
    /* background-image: url('/img/about.jpg');
    height: 400px;
    background-size: cover;
    background-position: 50% 33%; */
  
  }
  
  .headerContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .main {
    width: 80%;
    margin: 20px auto;
  }
  
  .Story {
    font-family: 'Jost';
    margin-bottom: 40px;
  
  }
  
  .Story h3 {
    font-size:28px;
    margin-bottom: 20px;
  }
  
  .Story h4{
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: #444;
  
  }
  .Story p{
    font-weight: 400;
    font-size: 15px;
    color: #333;
  
  }
  
  
  .flex{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  
  }
  
  .flexItems{
    width: 50%;
  }
  
  
  
  .flexItems h3{
    font-size: 19px;
    font-weight: 600;
  }
  
  .flexItems p {
    font-weight: 400;
    color: #333;
    margin-top: 10px;
  }
  
  .flexItems img{
    width: 90%;
    height: 500px;
  }
  .lorem {
    letter-spacing: 1.5px;  
    line-height: 1.8;  
    text-align: justify;  
    margin-bottom: 1rem;  
    width: 90%;
  }
  
  
  
   
  
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
  }
  
  .feature {
    text-align: center;
    
  }
  
  .icon {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .description {
    font-size: 0.8rem;
    color: #555;
  }
  