/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Jest", sans-serif; */
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  background-color: white;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #222;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* height: auto; */
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.section-title {
  height: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
  /* margin: 10px 0; */
}

.section-width {
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.menu {
  margin-right: auto;
}
.menu-list {
  display: flex;
  width: 300px;
  font-size: 0.8em;
  font-weight: 400;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu-list a {
  color: #333;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
}

.menu-item::after,
.footer-menu li::after {
  content: "";
  display: block;
  background-color: #333;
  width: 0%;
  height: 1.5px;
  transition: all 0.4s;
}
.menu-item:hover::after,
.footer-menu li:hover::after {
  width: 100%;
}

.header-tools {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.header-tools > * {
  cursor: pointer;
}
.logo {
  margin-right: 55px;
}

/* Menu */

main {
  /* width: 92%; */
  margin: 0 auto;
  background-color: pink;
}

/* Discount Section */

.discount-box {
  background-image: url(../../public/images/deal_timer_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  margin-top: 32px;
  margin-bottom: 32px;

  padding: 22px;
  padding-top: 145px;
  text-transform: uppercase;
  position: relative;
}

.discount-text-group,
.banner-textline {
  color: #c12b27;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.line {
  margin-right: 16px;
  height: 2px;
  width: 25px;
  background-color: #c12b27;
}

.discount-title {
  font-size: 4.5em;
}

.discount-title strong {
  font-weight: 900;
}

.shop-now-btn {
  margin: 20px 0;
  border-bottom: solid 2px #333;
  color: #333;
  padding: 5px 1px;
  background: transparent;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.shop-now-btn:hover {
  background-color: #333;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.flip-clock {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-spacing: 8px; /* space between unit times and separators */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-block-radius: 5px; /* border radius of digit card */
  --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
  --fcc-digit-font-size: 30px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 14px; /* font size of label */
  --fcc-label-color: #333; /* color of label */
  --fcc-background: #333; /* background of digit card */
  --fcc-divider-color: white; /* color of divider */
  --fcc-divider-height: 1px; /* height of divider */
  --fcc-separator-size: 4px; /* size of colon */
  --fcc-separator-color: #c12b27; /* color of colon */
}

.timer-box {
  position: absolute;
  left: 22px;
  bottom: 28px;
}

/* Limited Edition  */

.limited-edition {
  height: calc(85vh + 100px);
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 22px 0;
  background-color: red;
}

.swiper {
  width: 100%;
  height: 100%;
  font-family: "Jost", sans-serif !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .slide-item {
  height: fit-content;
} */
.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  min-height: 200px !important;
  cursor: pointer !important;
}

.sl-img-box {
  position: relative;
}

.sl-info-box {
  padding: 10px 0 5px;
  text-align: left;
  text-transform: capitalize;
  color: #222;
  line-height: 1.63;
  font-size: 0.95em;
}

.sl-category {
  font-size: 0.8em;
  color: #767676;
  font-family: inherit;
  font-weight: 400;
}

.sl-name {
  font-weight: 400;
  font-size: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
    bottom: -20px;
  }
  to {
    opacity: 1;
    bottom: 30px;
  }
}

/* @keyframes fade-out {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(25px);
  }
} */

/* .fade-in {
  animation: fade-in 0.5s ease;
}

.fade-out {
  animation: fade-out 0.5s ease;
} */

.pc-btn {
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translate(50%, 50%);
  width: 95%;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
  padding: 5px;
  height: 45px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.pc-btn-visible {
  /* opacity: 1; */
  /* bottom: 25px; */
  /* animation: fade-in 0.3s ease; */

  filter: brightness(0.95);
}

/* .pc-btn:hover {
  opacity: 0.8;
} */

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: inherit !important;
  margin: 35px 0;
}
.swiper-pagination-bullet {
  /* background-color: #ddc2bd !important; */
  cursor: pointer !important;
  position: relative !important;
  width: 1.875rem !important;
  height: 1.875rem !important;
  margin: 0 4px !important;
  border: 2px solid !important;
  background-color: transparent !important;
  color: transparent !important;
  opacity: 1 !important;
  outline: none !important;
}

.swiper-pagination-bullet:after {
  display: block !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 0.375rem !important;
  height: 0.375rem !important;
  margin-top: -0.1875rem !important;
  margin-left: -0.1875rem !important;
  border-radius: 100% !important;
  background-color: currentColor !important;
  color: #ddc2bd !important;
  content: "" !important;
}

.swiper-pagination-bullet-active {
  color: #222 !important;
}

.swiper-pagination-bullet-active::after {
  color: #222 !important;
}

/* Footer */

footer {
  padding: 20px 0;
  background-color: #e4e4e4;
  color: #222;
}
.footer-top,
.footer-bottom {
  width: 92%;
  margin: 0 auto;
  /* background-color: yellow; */
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #cfcdcd;
  padding: 25px 0;
}
.footer-bottom {
  padding-top: 15px;
}
.footer-logo,
.footer-label {
  margin-bottom: 16px;
}
.footer-label span {
  color: #c12b27;
}
footer form {
  height: 35px;
  display: flex;
  margin-top: 10px;
}
.footer-email {
  background-color: #f0f0f1;
  border: none;
  /* flex-grow: 1; */
  font-size: 1em;
  padding: 10px;
  border-radius: 2px;
  margin-right: 5px;
  outline: none;
}

.footer-btn {
  padding: 10px;
  background-color: black;
  color: #f0f0f1;
  text-transform: uppercase;
  border-radius: 2px;
}

.footer-right-col {
  display: flex;
  flex: 0 1 50%;
  justify-content: space-evenly;
}

.footer-menu li,
.footer-social-links li {
  padding: 3px;
  margin: 3px 0;
}

.footer-menu li,
.footer-social-links li {
  font-weight: 400;
}

/* Grid Image Collection */

.grid-image-collection {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one one two two"
    "one one three four";
  gap: 30px;
}

.grid-image-collection > a {
  background-position: 90% center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.collection-grid-1 {
  background-image: url("../../public/images/collection_grid_1.jpg");
  grid-area: one;
}
.collection-grid-2 {
  background-image: url("../../public/images/collection_grid_2.jpg");

  grid-area: two;
}
.collection-grid-3 {
  background-image: url("../../public/images/collection_grid_3.jpg");
  grid-area: three;
}
.collection-grid-4 {
  grid-area: four;
  background-color: #f5e5e0;
}

.grid-info-box {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.grid-info-box button {
  margin: 0;
}
.grid-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}

.grid-title strong {
  font-weight: bolder;
}

.grid-subtitle {
  font-size: 13px;
  text-transform: uppercase;
}

/* Main Banner */

.banner-container {
  /* width: 100vw;
  margin: 0 auto; */
  height: 100vh;
  background-image: url("../../public/images/slider1.webp");
  background-position: 90% center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 32px;
  /* object-fit: cover; */
}

.banner-info-box {
  position: absolute;
  top: 35px;
  left: 50px;
  text-transform: uppercase;
}

.banner-textline p {
  font-size: 14px;
}

.banner-title {
  font-size: 50px;
  font-weight: 500;
}

.banner-subtitle {
  font-size: 14px;
  text-transform: none;
  width: 62%;
}

/* Login Form */

.login-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: purple;
  width: 30%;
  height: 100%;
}
