.container{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 40%;
    margin: 30px auto;

}

 

.tab {
    padding: 10px 5px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
  }
  
  .test {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
  
  .test li {
    color: #666;
    transition: all 0.2s;
    position: relative;
  }
  
  .test li:hover {
    color: #000;
    transition: all 0.2s;
  }
  
  .test li:hover::after {
    width: 100%;
  }
  
  .test li::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;  
  }
  
  .selectedtab {
    color: #000 !important;
    position: relative;
    outline: none;
  }
  
  .selectedtab::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100% !important;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out; 
  }
  


  .loginContent{
    width: 70%;
    margin: 50px auto;
  }

  .loginContent button{
    color: #fff;
    background-color: #222;
    border-color: #222;
    box-shadow: none;
    width: 100%;
    padding: 0.9rem;
    font-size: 18px;
}


.loginContent p{
    color: #767676;
    font-size: 14px;
    margin-bottom: 30px;
}


.noAccount{
    margin-top: 20px;
    text-align: center;
    color: #555;
    font-size: 14px;
}

.noAccount span{
    margin-left: 3px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    color: #000;
}